.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;

  &__img {
    width: 200px;
    margin: 10px 0 0 10px;
  }
  &__menu {
    margin-right: 30px;
    padding: 20px 0;
    & ul {
      display: none;
      list-style: none;
      padding: 0px;
      position: absolute;
      width: 100px;
      text-align: right;
      margin: 0 0 0 -14px;

      &:hover {
        display: block;
      }
    }

    &:hover ul {
      display: block;
    }

    & li {
      margin: 10px 0;

      & a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--profile {
      margin-right: 8px;
      display: flex;

      & img {
        margin-right: 8px;
        height: 50px;
        border-radius: 25%;
      }

      & p {
        margin: 0;
        padding: 15px 0;
        color: white;
      }
    }
  }
}

.greenHeader {
  background-color: #21c08b;
}
