@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .login-container {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
